h1{
    text-align: center;
}

.resp-img{
    width: 300px;
    margin-top: 15%;
    cursor: pointer;
}

footer{
    text-align: center;
    margin-top: 4%;
    font-size: 2rem;
}

#main-image{
    width: 550px;
}